<% include partials/header %>

    <h3> Book details</h3>


    <ul>
        <li class="a"><font color="red">Title : </font> <%= data.title %></li> 
        <li class="a"><font color="red">Author : </font><%= data.author %>  </li>
        <li class="a"><font color="red">Description : </font></li>
            <span> <%= data.description %></span>
        <img class="book-img" src=/uploads/<%= data.photo_path %> 
    </ul>
     
<% include partials/footer %>