<% include partials/header %>

    <h2>Book details</h2>


    <ul>
        <li><font color="red">Title: </font> <%= data.title %></li> 
        <li><font color="red">Author: </font><%= data.author %>  </li>
        <li><font color="red">Description: </font><%= data.description %></li>
        <li>
            <img class="book-img" src=/uploads/<%= data.photo_path %> 
        </li>
  
    </ul>
     
<% include partials/footer %>