<% include partials/header %>
<ul>
    <h2> <i class="fas fa-plus-circle"> Add books</i></h2>

    <form method="POST" action="/books" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" name="title" required >
          <br>
          <label for="name">Author</label>
          <input type="text" name="author" required >
          <br>
          <label for="name">Description</label>
          <textarea input type="text" name="description" cols="30" rows="5"></textarea>
          <br>
          <label for="name">Book Image</label>
          <input name="image" type="file" required >
          <br>
          <input class="button" type="submit" value="Add book" >
        </div>

    </form>

       <form action="/books/find">
        <div class="form-group">
        <input type="number" name="id" placeholder="Enter book id" required>
        <input class="button" type="submit" value="Find the book" >
    </div>
    </form>

    <h2><i class="fas fa-list-ul"> List of the books</i></h2>
    <ul  class="a">
        <% data.forEach(function(row){ %>
            <a href="/books/details/<%= row.title %>"><li><%= row.title %> </a></li>
       <% }) %>
    </ul>  

    <h2><i class="fas fa-trash-alt"> Delete books</i></h2>  
       <form action="/books/delete">
        <div class="form-group">
                <input type="number" name="id" placeholder="Enter book id"required >
        </div>
        <input class="button" type="submit" value="Delete" >
    </form>
</ul>
<% include partials/footer %>