<% include partials/header %>
<ul>
    <h3> <i class="fas fa-plus-circle"> Add books</i></h3>

    <form method="POST" action="/books" enctype="multipart/form-data">

        <div class= "form-group" >
          <label for="name">Title</label>
          <input type="text" name="title" required >
          <br>
          <label for="name">Author</label>
          <input type="text" name="author" required >
          <br>
          <label for="name">Description</label>
          <textarea input type="text" name="description" cols="30" rows="5"></textarea>
          <br>
          <label for="name">Book Image</label>
          <input name="image" type="file" required >
          <br>
          <input class="button" type="submit" value="Add book" >
        </div>

    </form>

    <h3>Book List</h3>

    <% data.forEach(function(row){ %>
       <ul>
           <a href="/books/details/<%= row._id%>"><li class="a"> <%= row.title %> </li></a> 
        </ul>
    <% }) %>

</ul>
<% include partials/footer %>