<% include partials/header %>
    <h2>Add books</h2>

    <form method="POST" action="/books">
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" name="title" required >
          <br>
          <label for="name">Author</label>
          <input type="text" name="author" required >
          <br>
          <label for="name">Description</label>
          <input type="text" name="description" required >
        </div>
        <input type="submit" value="Add book" >
    </form>

    <h2>Find a book</h2>  
       <form action="/books/find">
        <div class="form-group">
            Give the id <input type="number" name="id" required >
        </div>
        <input type="submit" value="Search" >
    </form>

    <h2>List of the books</h2>
    <ul>
        <% data.forEach(function(row){ %>
            <a href="/books/details/<%= row.title %>"><li><%= row.title %> </a></li>
       <% }) %>
       </ul> 
     
    <h2>Delete books</h2>  
       <form action="/books/delete">
        <div class="form-group">
                <input type="number" name="id" required >
        </div>
        <input type="submit" value="Delete" >
    </form>
<% include partials/footer %>