

<h3>Book List</h3>

<% data.forEach(function(row){ %>
   <ul>
       <li class="a"><font color="red">Title : </font> <%= row.title %></li>
       <li class="a"><font color="red">Author : </font><%= row.author %>  </li>
       <li class="a"><font color="red">Description : </font><%= row.description %> </li>
    </ul>
<% }) %>
